.navigation {
    display: block;  /* стиль отображения элемента: блочный */
    width: 100%;  /* сколько места от ширины экрана занимает элемент */
    background: #7099ff;  /* цвет фона элемента */
    padding: 10px;  /* внутренние отступы элемента */
    list-style: none;  /* убрать черные точки у элементов списка */
    font-size: 18px;  /* размер текста элемента */
}