{% extends 'base.html' %} <!-- эта страница подключается к файлу base.html-->

{% block content %}

    <h1>Привет, {{ user.username }}!</h1>

    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse hic incidunt libero provident reiciendis sapiente, sit ullam voluptatem! Cumque dolor doloribus ea labore, laudantium libero minus pariatur quasi sequi!</span><span>Ea facilis fuga, ipsa libero minima quibusdam rerum? Accusantium aut, expedita mollitia odio pariatur qui quos repudiandae! Cum doloremque dolores minima nam quia rerum, sit suscipit. Architecto nulla perspiciatis vel.</span>
    </p>

{% endblock %}