{% extends 'base.html' %}

{% block content %}
    {% if user %}
        <h1>User: {{ user.username }}</h1>
        <p>Name: {{ user.name }}</p>
        <p>Address: {{ user.city }}, {{ user.street }}</p>
        <p>Phone: {{ user.phone }}</p>
    {% endif %}
    {% for todo in todos %}
    	<p>{{ todo.title }} | Status:
            {% if todo.completed %}
                <span class="badge bg-success">Completed</span>
            {% else %}
                <span class="badge bg-danger">Not completed</span>
            {% endif %}
        </p>
    {% endfor %}

{% endblock %}