{% extends 'base.html' %}

{% block content %}
    {% if user %}
        <h1>User: {{ user.username }}</h1>
        <p>Name: {{ user.name }}</p>
        <p>Address: {{ user.city }}, {{ user.street }}</p>
        <p>Phone: {{ user.phone }}</p>
    {% endif %}
    <div class="row">
        {% for todo in todos %}
            <div class="card mx-1 my-2 task-card" style="width: 30%">
                <p>{{ todo.title }} | Status:
                {% if todo.completed %}
                    <span class="badge bg-success">Completed</span>
                {% else %}
                    <span class="badge bg-danger">Not completed</span>
                {% endif %}</p>
                <p>Task created: <b>{{ todo.created_at }}</b></p>
                <p>Deadline: <b class="deadline">{{ todo.deadline }}</b></p>

                <div class="card-footer">
                    {% if todo.completed %}
                        <a href="../todos/{{ todo.id }}/not-completed" class="btn btn-warning btn-sm">Retract</a>
                    {% else %}
                        <a href="../todos/{{ todo.id }}/completed" class="btn btn-success btn-sm">Complete Task</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>


    <script>  <!-- внутри этого тега можно писать код на JS -->
        const now = new Date();  // фиксируем текущую дату (когда на эту страницу зайдут)
        let todo_cards = document.querySelectorAll('.task-card');  // найти все элементы с классом task-card
        for (let element of todo_cards) {
            let deadline = element.querySelector('.deadline');
            let deadlineDate = new Date(deadline.textContent);
            deadline.textContent = deadlineDate.toDateString();
            if (deadlineDate >= now || deadlineDate.getDate() - now.getDate() <= 3) {
                deadline.classList.add('text-red');
                deadline.classList.remove('text-green');
            } else {
                deadline.classList.add('text-green');
                deadline.classList.remove('text-red');
            }
        }
    </script>
{% endblock %}